@import url('../../tokens/index.scss');
.header-container {
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 115px;
  .header-top {
    align-self: flex-start;
    padding-left: 165px;
  }
  .header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
  }
  .middle-container {
    position: relative;
    width: 730px;
    height: 318px;
    .Squiggle {
      position: absolute;
      top: -70px;
      left: 95px;
      z-index: 1;
      width: 544.31px;
      height: 377.98px;
    }
    .middle-container-wrapper {
      z-index: 2;
      margin: 0 95px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 24px;
      flex-direction: column;
      .middle-container-title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 56px;
        text-align: center;
        color: $white;
        strong {
          font-family: 'Manrope';
          font-style: normal;
          font-weight: 800;
          font-size: 48px;
          line-height: 56px;
          text-align: center;
          color: $light-blue;
        }
      }
      .middle-container-subtitle {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: $gray;
        max-width: 540px;
      }
      .middle-container-img{
        margin-top: 40px;
      }
    }
  }
}
