@import '../../tokens/index.scss';

.header-container {
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 115px;
  overflow-x: hidden;

  @media (max-width: 768px) {
    gap: 20px;
    height: 550px;
  }

  @media (max-width: 415px) {
    height: 850px;
    padding-top: 40px;
  }

  .header-top {
    align-self: flex-start;
    padding-left: 175px;

    @media (max-width: 415px) {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;
      justify-self: flex-end;
      padding-left: 0;
    }
  }

  .header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    @media (max-width: 415px) {
      display: grid;
      grid-template-columns: repeat(2, 230px);
      grid-template-rows: repeat(2, 1fr);
      max-width: 415px;
    }

    .left-img {
      @media (max-width: 768px) {
        position: relative;
      }
      @media (max-width: 415px) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row: 1/2;
      }
      .imgLeft {
        @media (max-width: 768px) {
          position: absolute;
          left: -170px;
          top: -200px;
          width: 314px;
          height: 356px;
        }
        @media (max-width: 415px) {
          position: inherit;
          top: 0;
          left: 0;
          width: 204px;
          height: 231px;
        }
      }
    }
    .right-img {
      @media (max-width: 768px) {
        position: relative;
      }
      @media (max-width: 415px) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row: 1/2;
      }
      .imgRight {
        @media (max-width: 768px) {
          position: absolute;
          right: -170px;
          top: -200px;
          width: 314px;
          height: 356px;
        }

        @media (max-width: 415px) {
          position: inherit;
          top: 0;
          right: 0;
          width: 204px;
          height: 231px;
        }
      }
    }
    .middle-container {
      position: relative;
      width: 730px;
      height: 318px;
      @media (max-width: 415px) {
        grid-row: 2/3;
        grid-column: 1/-2;
      }
      .Squiggle {
        position: absolute;
        top: -70px;
        left: 95px;
        z-index: 1;
        width: 544.31px;
        height: 377.98px;
        @media (max-width: 768px) {
          display: none;
        }
      }
      .middle-container-wrapper {
        z-index: 2;
        margin: 0 95px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        flex-direction: column;
        @media (max-width: 415px) {
          margin: 0;
          max-width: 415px;
        }
        .middle-container-title {
          font-family: 'Manrope';
          font-style: normal;
          font-weight: 800;
          font-size: 48px;
          line-height: 56px;
          text-align: center;
          color: $white;
          @media (max-width: 768px) {
            font-size: 32px;
            line-height: 40px;
            text-align: center;
            max-width: 457px;
          }
          @media (max-width: 415px) {
            max-width: 327px;
          }
          strong {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 800;
            font-size: 48px;
            line-height: 56px;
            text-align: center;
            color: $light-blue;

            @media (max-width: 768px) {
              font-size: 32px;
              line-height: 40px;
              text-align: center;
            }
          }
        }
        .middle-container-subtitle {
          font-family: 'Manrope';
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 25px;
          text-align: center;
          color: $gray;
          max-width: 540px;
          @media (max-width: 768px) {
            font-size: 15px;
            line-height: 25px;
            text-align: center;
            max-width: 457px;
          }
          @media (max-width: 415px) {
            max-width: 327px;
          }
        }

        .middle-container-img {
          margin-top: 40px;
        }
      }
    }
  }
}
