@import '../../tokens/index.scss';

.subcription-card {
  margin-top: 120px;
  border-radius: 8px;
  height: 425px;
  padding: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  &.primary {
    background: $dark-blue;
    color: $white;
  }
  &.secondary {
    background: $light-blue;
    color: $dark-black;
  }

.subcription-card__title{
  font-weight: 800;
font-size: 18px;
line-height: 25px;
}
.subcription-card__subtitle{
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  mix-blend-mode: normal;
  opacity: 0.6;
}
.subcription-card__price{
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;
}
/* identical to box height, or 139% */
}
