/* eslint-disable */
@import url('./tokens/index.scss');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope";
  font-style: normal;
}
main{
  height: 100vh;
  background: $dark-black;
}